:root {

    font-family: 'Poppins', sans-serif;
    color: var(--text-color, #E7DFC6);
    background-color: #fff;
    


}

html {

    position: relative;
    overflow:auto;
}

body {
    margin: 0%;
    object-fit: cover;
    margin-left: 300px;
    margin-right: 300px;
    border-left: 1px solid #E7DFC6;
    border-right: 1px solid #E7DFC6;
    background-color: var(--background-color, #3eafce);
    position: relative;
    overflow: hidden;
}

.main {

    overflow: hidden;
    
}


.top_header {

    text-align: center;
    padding: 5px;
    background-color: #000000;
}


.main_header {

    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 15px;
    padding-bottom: 25px;
    background-color: var(--background-color, #3eafce);
    z-index: 10;

   

}

.main_title {

    font-weight: bold;
    font-size: 5em;
    letter-spacing: 0.5em;
    text-shadow:5px 5px #000000;
    animation: logo 1s ease-in;
    margin-right: 0px;
    z-index: 2;

}

.main_nav {

    font-size: 1.5em;
    animation: nav 1s ease-in;


}

.nav_items {

    padding: 10px;
    margin-left: 10px;
    text-shadow:2px 1px #3f3f3f;

}

.nav_items:hover {

    padding: 10px;
    margin-left: 10px;
    font-weight: bold;

}

.active {

    font-weight: bold;
}

a {

    text-decoration: none;
    color: #E7DFC6;


}




.explorer {

    font-size: 3rem;
    margin-top: 100px;
    font-weight: bold;
    padding: 20px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    text-shadow:5px 5px #000000;
    z-index: 10;

}



#first_section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
    background-color: rgba(58, 58, 55, 0.3);
    border-radius: 10px 10px;
    padding: 40px;
    box-shadow: 5px 5px #000000;;
    z-index: 5;
    animation: logo 2s ease-in;
    opacity: 100%;
}

.first_section_title {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.6em;
    text-shadow:5px 5px #000000;
   margin-bottom: 15px;
   z-index: 2;

}

.lorem1 {
    margin-top: 50px;
    font-size: 1.5em;
    word-spacing: 0.5em;
    z-index: 2;
}

.product {

    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(55, 57, 58, 0.3);
    font-size: 1.2em;;
    align-items: center;
    padding: 10px;
    padding-bottom: 30px;
    margin: 10px;
    z-index: 2;
    animation: logo 1s ease-in;
}
.product:hover {

    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(55, 57, 58, 0.6);
    font-size: 1.2em;;
    align-items: center;
    padding: 10px;
    margin: 10px;
    z-index: 2;
    animation: logo 1s ease-in;
}

.product_image {

    width: 80%;
    border: 1px solid #E7DFC6;
    background-color: rgba(55, 57, 58, 0.3);
    border: 2px solid #000000;
    box-shadow: 5px 5px #000000;;
   
}

.product_title {

    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 20px;
    letter-spacing: 0.1em;;
    text-shadow:2px 2px #000000;
}

.product_description {

    padding: 20px;
    font-style: italic;
}

.price {

    text-align: left;
    font-size: 1.8em;
    font-weight: bold;
    margin-left: 5%;
    text-shadow:5px 5px #000000;
}

.buy_button {
    background-color: #070605;
    padding:5px;
    font-size: 1.6em;
    border-radius: 10px;;
    flex-direction: row;
    margin-left: 70px;
    text-align: center;
    box-shadow: 5px 5px #000000;;
    padding-bottom :10px;
}

.buy_button:hover {
    background-color: #ffffff;
    padding:5px;
    color: #000000;
    font-size: 1.6em;
    border-radius: 10px;;
    flex-direction: row;
    margin-left: 70px;
    text-align: center;
}

.action {

    display:flex;
    align-items: baseline;
    
}

.product_display {

    display: flex;
    margin: 0%;
    margin-left: 300px;
    margin-right: 250px;
    flex-wrap: wrap;
    margin-bottom: 40px;
    animation: popup 1s ease-in-out;
}


.footer {

    text-align: center;
    background-color: #000000;
    margin-bottom: 0%;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    z-index: 10;
}

 @keyframes logo {

    from {opacity: 0;}
  to {opacity :1 }
 }

 @keyframes nav {

    from {opacity: 0;}
  to {opacity :1 }
 }

 @keyframes popup {

    from {transform: translateY(100px);}
    to {transform: translateY(0px)}
 }
 

 #fruits {

    position:absolute;
    top: 0%;
    transform: rotate(90deg);
    left: -550px;
    z-index: 0;
    animation: logo 3s ease-in;
    pointer-events: none;
   

 }

 #fruits2 {

    position:absolute;
    top: 0%;
    transform: rotate(-90deg);
    right: -550px;
    z-index: 0;
    animation: logo 3s ease-in;
    pointer-events: none;
    

 }

 #fruits3 {

    position:absolute;
    pointer-events: none;
    width: 110%;
    top: 1000px;
    left: -5%;
    transform: rotate(180deg);
    opacity: 30%;


 }

 #fruits4 {

    position:absolute;
    pointer-events: none;
    width: 110%;
    top: 1600px;
    left: -5%;
    opacity: 30%;
    z-index: -1;


 }

 .social_media {
    position: absolute;
    display: flex;
    border:  solid #000000;
    box-shadow: 1px 5px #000000;
    border-radius: 30%;
    padding: 10px;
    background-color: #E7DFC6;
    justify-content: center;
    align-items: right;
    top:2.5%;
    right: 3%;
    animation-delay: 0.25s;
    animation: logo 2s ease-in;

 }

.media_link:hover {

    width: 110%;

}







